.main_container {
    width: 90%;
    margin: auto;
    margin-top: 80px;
}

.form_container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 100%;
    margin-top: 30px;
}

.text_container h2 {
    color: #622D25;
    line-height: normal;
    font-size: 40px;
}
.text_container p {
    color: #622D25;
    line-height: 25px;
    font-size: 16px;
    margin-top: 10px;
}

.form > div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form label {
    font-family: var(--font-finlandacia);
    color: black;
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: 700;
}

.form input {
    width: 85%;
    padding: 12px;
    border-radius: 2px;
    font-family: var(--font-finlandacia);
    font-size: 14.5px;
    outline: none;
    color: #622D25;
}

.form textarea {
    width: 85%;
    padding: 12px;
    height: 300px;
    border-radius: 2px;
    font-size: 14.5px;
    font-family: var(--font-finlandacia);
    outline: none;
    color: #622D25;
}

.cont_img {
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 2px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.form button {
    background-color: #402a23;
    font-size: 14px;
    padding: 12px;
    width: 85%;
    border-radius: 3px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    font-weight: 700;
    color: white;
    border: 2px solid #622D25;
}

.form button:active {
    box-shadow: none;
}

.others p {
    font-size: 13px;
    color: #402a23;
    line-height: normal;
}

.others div {
    display: flex;
    align-items: end;
    gap: 7px;
    margin-bottom: 5px;
}

.others {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 15px;
}

.others h3 {
    color: #402a23;
    font-size: 20px;
    margin-bottom: 10px;
}

.l {
    font-size: 14px;
    color: #402a23;
    font-family: var(--font-finlandacia);
}

.status_container {
    margin-top: 6px;
}

.status_message {
    font-size: 13px;
    color: #402a23;
    font-family: var(--font-finlandacia);
}

@media (max-width: 897px) {
    .text_container h2 {
        font-size: 38px;
    }
}

@media (max-width: 834px) {
    .form_container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .form input {
        width: 100%;
    }

    .form textarea {
        width: 100%;
    }

    .form button {
        width: 100%;
    }

    .main_container {
        margin-top: 40px;
    }
}

@media (max-width: 815px) {
    .text_container h2 {
        font-size: 36px;
    }

    .text_container p {
        font-size: 15.5px;
    }

    .form input {
        font-size: 14px;
    }

    .form textarea {
        font-size: 14px;
    }
}

@media (max-width: 656px) {
    .text_container h2 {
        font-size: 34px;
    }
}

@media (max-width: 615px) {
    .text_container h2{
        font-size: 32px;
    }
}

@media (max-width: 605px) {
    .text_container h2 {
        font-size: 30px;
    }

    .text_container p {
        font-size: 15px;
    }
}

@media (max-width: 405px) {
    .text_container h2 {
        font-size: 28px;
    }
}

@media (max-width: 371px) {
    .text_container h2 {
        font-size: 26px;
    }

    .text_container p {
        font-size: 14.5px;
    }
}

@media (max-width: 357px) {
    .text_container h2 {
        font-size: 25px;
    }

    .text_container p {
        font-size: 14px;
    }
}