.main_container h2 {
    color: #402a23;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.main_container p {
    color: #402a23;
    font-size: 16px;
}

.main_container h3 {
    font-size: 50px;
}

.impactDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.impactDiv > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main_container {
    padding: 5%;
    background-color: #ffde74;
}

.btn {
    display: block;
    background-color: #402a23;
    color: white;
    font-family: var(--font-finlandacia);
    padding: 12px 50px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-top: 5px;
    font-size: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

@media (max-width: 900px) {
    .main_container h3 {
        font-size: 45px;
    }
}

@media (max-width: 850px) {
    .main_container h3 {
        font-size: 40px;
    }
}

@media (max-width: 750px) {
    .main_container h3 {
        font-size: 35px;
    }
}

@media (max-width: 708px) {
    .main_container span {
        display: block;
    }

    .impactDiv p {
        text-align: center;
        font-size: 15px;
    }
}

@media (max-width: 585px) {
    .main_container h3 {
        font-size: 30px;
    }

    .impactDiv p {
        text-align: center;
        font-size: 14.5px;
    }
}

@media (max-width: 380px) {
    .impactDiv {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .main_container span {
        display: inline;
    }

    .main_container h3 {
        line-height: normal;
    }

    .impactDiv > div {
        gap: 10px;
    }
}