.a > .btn {
    transform: translateX(0%) translateY(0%);
    transition: 0.3s ease-in-out;
}

.a:hover > .btn1 {
    transform: translateX(-5%) translateY(-24%);
    transition: 0.3s ease-in-out;
}

.a {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.a:hover > .btn2 {
    transform: translateX(-2%) translateY(-12%);
    transition: 0.3s ease-in-out;
}

.btn {
    position: absolute;
    width:200px;
    height:25px;
    color: #622D25;
    font-size: 14px;
    border-width: 2px;
    border-color: #622D25;
    border-radius: 24px;
    background-color: #E5C9A2;
    font-family: var(--font-finlandacia);
    font-weight: 700;
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0px 0px #773529;
}

.btn:hover {
    box-shadow: none;
}

.a:hover > .btn {
    margin-top: 12px;
}

.btn1 {
    background: #E5C9A2;
    z-index: 3;
    color: #622D25
}
.btn2 {
    background: #F8CA39;
    z-index:2;
}