.div2 {
    position: relative;
    width: 100%;
    height: 100px;
    border-radius: 2px;
    overflow: hidden;
    z-index: 5;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.get {
    border: 2px solid white;
    padding: 10px;
    width: 100%;
}

.story_div {
    position: absolute;
    z-index: 10;
    padding: 10px; /* Adjust as necessary */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.story {  /* New CSS class */
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px 3px #402a23;
    font-family: var(--font-finlandacia);
}

.main_container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    background-color: #ffde74;
    padding: 70px 3%;
}

.main_container h2 {
    color: #402a23;
    font-size: 35px;
}

.main_container p {
    color: #402a23;
    font-size: 17px;
    line-height: 28px;
}

.imageDiv {
    position: relative;
    height: 500px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.styleDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
}

.styleDiv > div {
    border-radius: 2px;
    overflow: hidden;
}

.styleDiv .get {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link {
    display: block;
    background-color: #402a23;
    color: white;
    font-family: var(--font-finlandacia);
    padding: 8px 50px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    margin-top: 10px;
    font-size: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    width: fit-content;
}

.link:active {
    box-shadow: none;
}

@media (max-width: 897px) {
    .main_container p {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 834px) {
    .styleDiv {
        grid-template-columns: 1fr 1fr;
    }

    .link {
        margin-bottom: 20px;
    }

    .get {
        position: absolute;
        max-width: 400px;
        width: 100%;
        bottom: -250px;
    }

    .main_container {
        margin-bottom: 350px;
    }
}

@media (max-width: 603px) {
    .image1 {
        display: none;
    }

    .styleDiv {
        grid-template-columns: 1fr;
    }

    .main_container h2 {
        font-size: 30px;
    }

    .main_container p {
        font-size: 15px;
    }
}

@media (max-width: 405px) {
    .main_container h2 {
        font-size: 28px;
        line-height: normal;
    }
}

@media (max-width: 386px) {
    .story_div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .story {
        width: 60%;
        text-align: center;
    }
}

@media (max-width: 371px) {
    .main_container p {
        font-size: 14.5px;
    }

    .main_container h2 {
        font-size: 26px;
    }
}

@media (max-width: 357px) {
    .main_container p {
        font-size: 14px;
    }

    .main_container h2 {
        font-size: 25px;
    }
}

@media (max-width: 353px) {
    .get {
        bottom: -250px;
    }
}

@media (max-width: 431px) {
    .main_container h2 {
        text-align: center;
    }

    .main_container p {
        text-align: center;
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .get {
        border: none;
        padding: none;
        bottom: -250px;
        left: 50%;
        transform: translateX(-50%);
    }
    

    ._div {
        border: 2px solid white;
        padding: 5%;
    }
}