.testimonyProp {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.testimony {
    font-size: 18px;
    color: #773529;
    font-weight: 500;
    line-height: 33px;
}

.name_info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    font-size: 28px;
    color: #622D25;
}

.info {
    font-size: 14px;
}

@media (max-width: 897px) {
    .testimony {
        font-size: 17px;
    }
    .name {
        font-size: 26px;
    }
}

@media (max-width: 815px) {
    .testimony {
        font-size: 16px;
    }
    .name {
        font-size: 25px;
    }
}

@media (max-width: 656px) {

    .name {
        font-size: 24px;
    }
}

@media (max-width: 615px) {

    .name {
        font-size: 23px;
    }
}

@media (max-width: 605px) {
    .testimony {
        font-size: 15px;
    }
    .name {
        font-size: 22px;
    }
}

@media (max-width: 464px) {
    .testimonyProp {
        padding: 10px;
    }
}


@media (max-width: 431px) {
    .testimony {
        text-align: center;
    }

    .name {
        text-align: center;
    }

    .info {
        text-align: center;
    }
}


@media (max-width: 405px) {
    .name {
        font-size: 20px;
    }
}

@media (max-width: 371px) {
    .testimony {
        font-size: 14.5px;
    }
}

@media (max-width: 357px) {
    .testimony {
        font-size: 14px;
    }
}