.container h3 {
    color: #622D25;
    font-size: 18px;
}

.container {
    width: 95%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.volunteer {
    font-family: var(--font-finlandacia);
    color: #622D25;
    font-size: 15px;
    background-color: #FBF6EF;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: 700;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.volunteer:active {
    box-shadow: none;
}