.container {
    width: 90%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 80px;
}

.container p {
    font-size: 16px;
    color: #622D25;
}

.link {
    background-color: white;
    margin-left: 15px;
    padding: 5px 20px;
    border-radius: 2px;
    font-weight: 700;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.link:active {
    box-shadow: none;
}

@media screen and (max-width: 1165px) {
    .container p {
        font-size: 15px;
    }
}

@media (max-width: 437px) {
    .link {
        display: block;
        margin-left: 0px;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10px;
    }

    .container p {
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    .container p {
        text-align: center;
        font-size: 14px;
    }
}