.container {
    width: 90%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.container p {
    font-size: 15px;
}

@media screen and (max-width: 1165px) {
    .container p {
        font-size: 14px;
    }
}

@media screen and (max-width: 875px) {
    .container p {
        font-size: 13.5px;
    }
}

@media screen and (max-width: 350px) {
    .container p {
        text-align: center;
        font-size: 13px;
    }
}