.team_div h2 {
    text-align: center;
    font-size: 40px;
    color: #622D25;
    margin-bottom: 20px;
    margin-top: 60px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    align-items: flex-start;
    justify-content: center;
    row-gap: 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    align-items: center;
    gap: 4px;
}

.team_div {
    width: 95%;
    margin: auto;
}

.details {
    background-color: white;
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.details h3 {
    font-size: 16px;
    color: #622D25;
    line-height: normal;
}

.details p {
    font-size: 14px;
    color: #622D25;
}