.main_container p {
    color: #402a23;
    font-size: 15px;
    line-height: 26px;
    text-align: justify;
}

.main_container {
    width: 95%;
    margin: auto;
    padding-bottom: 80px;
    padding-top: 40px;
    border-top: 3px solid white;
}

.main_container h2 {
    font-size: 35px;
    color: #622D25;
    margin-bottom: 20px;
    line-height: normal;
}

.text {
    font-size: 20px;
    position: absolute;
    top: -40px;
    left: 50px;
    color: #622D25;
    font-weight: 700;
    opacity: 50%;
}

.main_container > div {
    background-color: white;
    padding: 50px;
    box-shadow: 5px 5px 0px 0px #402a23;
    border-radius: 3px;

}

.image {
    float: left;
    margin-right: 16px; /* Adjust margin as needed */
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}