/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #F8CA39;
}

h1 {
  font-optical-sizing: auto;
  line-height: 120px;
  font-family: cursive;
}

h2 {
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 54px;
  line-height: 67.2px;
  font-family: cursive;
}

h3 {
  font-optical-sizing: auto;
  line-height: 31.6px;
  font-weight: 700;
  font-size: 26px;
  font-family: cursive;
}

h4 {
  font-optical-sizing: auto;
  line-height: 20.6px;
  font-weight: 700;
  font-size: 16px;
  font-family: cursive;
}

h5 {
  font-optical-sizing: auto;
  line-height: 17.2px;
  font-weight: 700;
  font-size: 15px;
  font-family: cursive;
}

p {
  font-optical-sizing: auto;
  font-family: cursive;
  color: #FBFFE7;
}

button {
  font-family: cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
