.topbarContainer {
    padding: 20px 15px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 30;
    top: 0;
}

.logoContainer {
    /* Styles for the logo container */
    display: flex;
    align-items: center;
}

.logoText {
    /* Styles for the logo text */
    font-size: 15px;
    margin-left: 10px;
    color: #FBF6EF;
}

@media screen and (max-width: 720px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .logoText {
        font-size: 15px;
    }
}


@media screen and (max-width: 700px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .logoText {
        font-size: 14px;
    }
}

@media screen and (max-width: 670px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .logoText {
        font-size: 13px;
    }
}