.main_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link {
    font-family: cursive;
    font-family: var(--font-finlandacia);
    font-size: 13px;
    font-weight: 600;
    color: #FBF6EF;
}

.link:hover {
    text-decoration: underline;
}