.theLinks {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main_container {
    display: flex;
    align-items: center;
}

.menu {
    cursor: pointer;
    display: none; /* Initially hidden */
}

.link {
    font-family: var(--font-finlandacia);
    font-size: 14px;
    font-weight: 500;
    color: #402a23;
}

.link:hover {
    font-weight: 900;
}

.donate {
    background-color: #402a23;
    font-family: var(--font-finlandacia);
    padding: 6px 30px;
    color: white;
    border-radius: 2px;
    transition: background-color 0.3s;
    font-weight: 800;
    font-size: 14px;
}

.donate:hover {
    box-shadow: 1px 1px 2px 0px #ffa;
}

.active {
    border-bottom: 3px solid #ffc93c; /* yellow border bottom */
    font-weight: 900;
}

.donate:active {
    box-shadow: none;
}

.close {
    display: none;
    cursor: pointer;
}

.small {
    position: absolute;
    background-color: white;
    display: none;
    flex-direction: column;
    right: 20px;
    padding: 10px;
    gap: 12px;
    top: 70px;
    width: 300px;
    min-height: 210px;
    transition: all 0.3s ease-in-out;
    z-index: 30;
    box-shadow: 0 7px 11px rgba(0, 0, 0, 0.2);
}

.show {
    display: flex; 
}

._link {
    font-size: 16px;
    font-family: var(--font-finlandacia);
    color: black;
    font-weight: 700;
}

._link:hover {
    color: black;
}

.design {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ececec;
}

.design:hover {
    background-color: #ececec;
    cursor: pointer;
}

.design:active {
    background-color: white;
}

.popUp {
    position: fixed;
    top: 10px;
    z-index: 50;
    width: 400px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px; 
    background-color: #622D25;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #622D25;
    border-radius: 2px;
}

.popUp.slideIn {
    display: block;
    animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

.p1 {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.p2 {
    color: white;
    font-size: 13.5px;
}

@media (max-width: 801px) {
    .theLinks {
        display: none;
    }
    .menu {
        display: block; /* Show the menu icon */
    }
    .close {
        display: block; /* Show the close icon when menu is open */
    }
}

@media (max-width: 430px) {
    .popUp {
        width: 380px;
    }
}

@media (max-width: 402px) {
    .popUp {
        width: 360px;
    }
}

@media (max-width: 370px) {
    .popUp {
        width: 340px;
    }
}

@media (max-width: 355px) {
    .popUp {
        max-width: 320px;
        width: 95%;
    }
}

@media (max-width: 350px) {
    .small {
        width: 280px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 296px) {
    .small {
        width: 95%;
    }
}