.main_container {
    background-color: #ffde74;
    padding-top: 60px;
    padding-bottom: 80px;
}

.ImgDiv {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.intro h2 {
    color: #402a23;
    font-size: 30px;
    text-align: center;
    line-height: normal;
}

.main_container p {
    color: #402a23;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}

.main_container h3 {
    font-size: 20px;
    text-align: center;
}

.link {
    background-color: #402a23;
    font-family: var(--font-finlandacia);
    padding: 8px 50px;
    color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 0px 0px white;
    transition: background-color 0.3s;
    font-weight: 700;
    font-size: 14px;
    display: block;
}

.link:hover {
    box-shadow: 3px 3px 0px 0px #ffa;
}

.link:active {
    box-shadow: none;
}

.picDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    width: 95%;
    gap: 3%;
    margin: auto;
    margin-top: 40px;
}

.linkDiv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.textDiv {
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    width: 100%;
    border-radius: 4px;
}

@media (max-width: 897px) {
    .main_container p {
        font-size: 15px;
        line-height: 26px;
    }
}

@media (max-width: 826px) {
    .picDiv {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }   
}

@media (max-width: 405px) {
    .intro h2 {
        font-size: 28px;
    }
}

@media (max-width: 371px) {
    .intro h2 {
        font-size: 26px;
    }

    .main_container p {
        font-size: 14.5px;
    }

    .link {
        font-size: 13.5px;
        padding: 6px 50px;
    }
}

@media (max-width: 357px) {
    .intro h2 {
        font-size: 25px;
    }

    .main_container p {
        font-size: 14px;
    }
}

@media (max-width: 412px) {
    .picDiv {
        width: 100%;
    }

    .textDiv {
        padding: 2%;
    }

    .link {
        padding: 5px 40px;
    }
}

@media (max-width: 315px) {
    .link {
        padding: 5px 30px;
    }
}

@media (max-width: 279px) {
    .linkDiv {
        flex-direction: column;
    }
}