.main_container {
    width: 90%;
    margin: auto;
    margin-top: 80px;
}

.text_div {
    margin-bottom: 40px;
}

.main_div {
    padding: 30px;
    box-shadow: 5px 5px 0px 0px #773529;
    border-color: #622D25;
    border-radius: 48px;
    background-color: #FBF6EF;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.impacts_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    width: full;
}

.impact_div1 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #773529;
    border-radius: 20px;
    justify-content: center;
}

.impact_div2 {
    border: 2px solid #443004;
    padding: 30px;
    border-radius: 20px;
    justify-content: center;
}

.impact_div3 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #773529;
    border-radius: 20px;
    justify-content: center;
}

.our_impact {
    font-size: 40px;
    color: #622D25;
}

.impact_text {
    color: #622D25;
    font-size: 20px;
    line-height: 35px;
}

.installed {
    color: #F3E5D2;
}

.reached {
    color: #622D25;
}

.reduction {
    color: #F3E5D2;
}

.value1, .value2, .value3 {
    font-size: 45px;
}

.value1 {
    color: #F3E5D2;
}

.value2 {
    color: #622D25;
}

.value3 {
    color: #F3E5D2;
}

.installed_text {
    color: #F3E5D2;
    font-size: 20px;
    line-height: 35px;
}

.reached_text {
    color: #622D25;
    font-size: 20px;
    line-height: 35px;
}

.reduction_text {
    color: #F3E5D2;
    font-size: 20px;
    line-height: 35px;
}

@media screen and (max-width: 1390px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .value1, .value2, .value3 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1260px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .installed {
        font-size: 25px;
    }
    
    .reached {
        font-size: 25px;
    }
    
    .reduction {
        font-size: 25px;
    }

    .value1, .value2, .value3 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1242px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .installed {
        font-size: 23px;
    }
    
    .reached {
        font-size: 23px;
    }
    
    .reduction {
        font-size: 23px;
    }

    .value1, .value2, .value3 {
        font-size: 33px;
    }
}

@media screen and (max-width: 1167px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .installed {
        font-size: 21px;
    }
    
    .reached {
        font-size: 21px;
    }
    
    .reduction {
        font-size: 21px;
    }

    .value1, .value2, .value3 {
        font-size: 31px;
    }
}

@media screen and (max-width: 1070px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .value1, .value2, .value3 {
        text-align: center;
    }
    
    .installed_text, .reached_text, .reduction_text {
        text-align: center;
    }

    .installed, .reached, .reduction {
        text-align: center;
    }

    .impact_div1, .impact_div2, .impact_div3 {
        padding: 20px;
    }
}

@media screen and (max-width: 1110px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .installed, .reached, .reduction {
        font-size: 19px;
    }

    .value1, .value2, .value3 {
        font-size: 29px;
    }

    .impact_text, .installed_text, .reached_text, .reduction_text {
        font-size: 18px;
    }
}

@media screen and (max-width: 923px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .main_div {
        padding: 25px;
    }
}

@media screen and (max-width: 905px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .impact_text, .installed_text, .reached_text, .reduction_text {
        font-size: 17px;
    }

    .installed, .reached, .reduction {
        font-size: 18px;
    }

    .value1, .value2, .value3 {
        font-size: 27px;
    }
}

@media screen and (max-width: 955px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .main_container {
        margin-top: 40px;
    }
}

@media screen and (max-width: 720px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .impacts_div {
        grid-template-columns: 1fr;
    }

    .our_impact, .impact_text {
        text-align: center;
    }

    .main_container {
        margin-top: 35px;
    }

    .main_div {
        padding-bottom: 70px;
    }

    .impact_div1, .impact_div2, .impact_div3 {
        padding: 10px;
    }
}

@media screen and (max-width: 380px) {
    /* CSS rules for screens with a maximum width of 1000px */
    .impact_div1, .impact_div2, .impact_div3 {
        gap: 5px;
    }

    .value1, .value2, .value3 {
        font-size: 25px;
    }
}

@media screen and (max-width: 330px) {
    .main_div {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 327px) {
    .impact_text, .installed_text, .reached_text, .reduction_text {
        font-size: 16px;
    }

    .installed, .reached, .reduction {
        font-size: 17px;
    }

    .value1, .value2, .value3 {
        font-size: 26px;
    }
}

@media screen and (max-width: 290px) {
    .main_div {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 258px) {
    .main_div {
        padding-bottom: 100px;
    }
}