.footer_container {
    color: #F3E5D2;
    background-color: #773529;
    width: 100%;
    margin-top: 100px;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.topDiv {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px 10px;
}

.extra {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sun, .light {
    border: 2px solid white;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 2px solid white;
    padding-left: 20px;
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.slide_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #F3E5D2;
    border-bottom: 1px solid #F3E5D2;
    position: relative;  /* Relative positioning */
    overflow: hidden;    /* Hide overflowing content */
    height: 30px;
    width: 100%;         /* Full width of the parent */
}


.slide_content {
  display: flex;       /* Flex layout for inline items */
  position: absolute;  /* Absolute positioning */
  white-space: nowrap; /* Prevent line breaks */
  animation: slide 25s linear infinite; /* Apply the animation */
  gap: 10px;
  align-items: center;
}

.slide_content p {
    font-size: 12px;
    color: #F3E5D2;
}

.slide_info > p {
    font-size: 13px;
    color: #F3E5D2;
    padding: 7px;
}

.links {
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}

.a {
    font-size: 13px;
    color: #F3E5D2; 
    font-family: var(--font-finlandacia);
}

.a:hover {
    text-decoration: underline;
}

.rights {
    font-size: 12px;
    padding: 7px;
    color: #F3E5D2;
    padding-left: 12px;
}

.socials p {
    font-size: 13px;
}

.socials h3 {
    font-size: 14px;
    line-height: normal;
}

.message {
    display: flex;
    align-items: center;
    gap: 20px;
}

.instagram {
    display: flex;
    align-items: center;
    gap: 20px;
}

.linkedin {
    display: flex;
    align-items: center;
    gap: 20px;
}