.main_container {
    border: 2px solid #622D25;
    box-shadow: 5px 5px 0px 0px #773529;
    background-color: #FBF6EF;
    border-radius: 48px;
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 180px;
    padding: 30px;
}

.wrapper {
    display: flex;
    gap: 10%;
}

.become {
    color: #622D25;
    font-size: 36px;
}

.form {
    font-size: 20px;
    line-height: 35px;
    color: #622D25;
}

.applyText {
    display: flex;
    flex-direction: column;
    gap: 10%;
    position: relative;
}


.applyBtn {
    position: absolute;
    bottom: 60px;
    left: 100px;
}
