.main_container {
    max-width: 1000px;
    width: 95%;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 80px 20px;
    position: relative;
}

.div2 {
    width: 65%;
    height: 100%;
    margin-left: auto;
}

.div2 form {
    margin-top: 10px;
    padding: 10px;
    background-color: #ffde74;
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid #402a23;
}

.picture {
    height: 80%;
    width: 400px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -100px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}  

.donate_text {
    text-align: center;
    font-size: 40px;
    color: #622D25;
    margin-bottom: 10px;
}

.p {
    font-size: 17px;
    color: #622D25;
    line-height: 29px;
}

.main_container h3 {
    color: #622D25;
    font-size: 18px;
}

.input_fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.input {
    padding: 6px;
    border-radius: 2px;
    font-family: var(--font-finlandacia);
    font-size: 13px;
    color: #622D25;
    outline: none;
    border: 1px solid #e0e0e0;
}

.btn {
    font-size: 13px;
    background-color: #402a23;
    color: white;
    padding: 7px 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-weight: 700;
}

.btn:active {
    box-shadow: none;
}

.message {
    margin-top: 10px;
    color: #622D25;
    font-size: 13.5px;
}

.message_container {
    display: flex;
    gap: 5px;
}

.clear_btn {
    background-color: #622D25;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 1px 8px;
    line-height: normal;
    color: white;
    align-self: self-end;
    font-size: 13px;
    border-radius: 3px;
}


@media (max-width: 1225px) {
    .picture {
        left: -50px;
    }
}

@media (max-width: 1125px) {
    .picture {
        left: -30px;
    }
}

@media (max-width: 1085px) {
    .picture {
        position: relative;
        height: auto;
        top: 0px;
        left: 0px;
        transform: none;
        width: 100%;
    }

    .main_container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2%;
    }

    .div2 {
        width: 100%;
        margin-left: 0px;
        height: auto;
    }
}

@media (max-width: 897px) {
    .donate_text {
        font-size: 38px;
    }
}

@media (max-width: 815px) {
    .donate_text {
        font-size: 36px;
    }
}

@media (max-width: 802px) {
    .main_container {
        padding: 60px 20px;
    } 
}

@media (max-width: 752px) {
    .main_container h3 {
        font-size: 17px;
    } 

    .main_container p {
        font-size: 16px;
    } 
}

@media (max-width: 656px) {
    .donate_text {
        font-size: 34px;
    }

    .main_container p {
        font-size: 15.5px;
    }
}

@media (max-width: 615px) {
    .donate_text {
        font-size: 32px;
    }

    .main_container p {
        font-size: 15px;
    }
}

@media (max-width: 605px) {
    .donate_text {
        font-size: 30px;
    }
}

@media (max-width: 603px) {
    .main_container {
        grid-template-columns: 1fr;
        padding: 30px 20px;
    }

    .picture {
        height: 350px;
    }
}

@media (max-width: 482px) {
    .picture {
        width: 100%;
    }

    .div2 {
        width: 100%;
    }

    .div2 form {
        padding: 3%;
    }

    .input_fields {
        column-gap: 3%;
        grid-template-columns: 1fr;
    }

    .input {
        padding: 3%;
    }
}

@media (max-width: 405px) {
    .donate_text {
        font-size: 28px;
    }
}

@media (max-width: 371px) {
    .donate_text {
        font-size: 26px;
    }
}

@media (max-width: 357px) {
    .donate_text {
        font-size: 25px;
    }
}