.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin: auto;
    margin-top: 100px;
    align-items: center;
    row-gap: 5%;
    position: relative;
}

.main_container h2 {
    text-align: center;
    font-size: 40px;
    color: #622D25;
    margin-bottom: 10px;
}

.main_container h3 {
    font-size: 23px;
    color: #402a23;
}

.main_container h4 {
    font-size: 16px;
    font-family: var(--font-finlandacia);
    color: #402a23;
}

.line {
    height: 4px;
    background-color: #622D25;
    position: absolute;
    width: 1800px;
    top: 231px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;
}

.text_div {
    background-color: white;
    padding: 80px 0;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card {
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.card3 {
    border-radius: 5px;
    height: 600px;
    align-self: center;
    position: relative;
}

.card4 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.view {
    font-family: var(--font-finlandacia);
    color: #142d4c;
    font-size: 15px;
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}

.view:hover {
    font-weight: 700;
}

.view:active {
    text-decoration: none;
}

.project {
    padding: 8px 15px;
    font-family: var(--font-finlandacia);
    align-self: start;
    font-size: 14px;
    font-weight: 700;
    border-radius: 2px;
    background-color: white;
}

.project:hover {
    background-color: whitesmoke;
}

.project:active {
    background-color: white;
}

.first_project {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first_project p {
    font-size: 15px;
    line-height: 28px;
    color: #402a23;
}

.second_project {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.second_project p {
    font-size: 15px;
    line-height: 28px;
    color: #402a23;
}

@media (max-width: 897px) {
    .main_container h2 {
        font-size: 38px;
    }

    .card p {
        font-size: 16px;
    }

    .see {
        font-size: 16px;
    }

    .card h3 {
        font-size: 21px;
    }

    .card h4 {
        font-size: 15px;
    }

    .text_div {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 834px) {
    .card {
        height: 550px;
    }
}

@media (max-width: 815px) {
    .main_container h2 {
        font-size: 36px;
    }

    .card h3 {
        font-size: 20px;
    }

    .card h4 {
        font-size: 14px;
    }

    .card p {
        font-size: 15.5px;
    }
}

@media (max-width: 715px) {
    .main_container {
        width: 95%;
    }

    .card {
        height: 600px;
    }
}

@media (max-width: 656px) {
    .main_container h2 {
        font-size: 34px;
    }
}

@media (max-width: 615px) {
    .main_container h2 {
        font-size: 32px;
    }
}

@media (max-width: 605px) {
    .main_container h2 {
        font-size: 30px;
    }

    .card p {
        font-size: 15px;
    }

    .see {
        font-size: 15px;
    }

    .card h3 {
        font-size: 18.5px;
    }
}

@media (max-width: 603px) {
    .main_container {
        grid-template-columns: 1fr;
        row-gap: 3%;
    }

    .main_container h2 {
        line-height: normal;
    }
}

@media (max-width: 405px) {
    .main_container h2 {
        font-size: 28px;
    }

    .card h3 {
        font-size: 18px;
    }

    .project {
        padding: 6px 15px;
    }
}

@media (max-width: 371px) {
    .main_container h2 {
        font-size: 26px;
    }

    .card p {
        font-size: 14.5px;
    }

    .card h3 {
        font-size: 18px;
        line-height: normal;
    }
}

@media (max-width: 357px) {
    .main_container h2 {
        font-size: 25px;
    }

    .card p {
        font-size: 14px;
    }

    .card h3 {
        font-size: 17px;
    }
}