.heroContainer {
    width: 100%;
    margin-top: 73px;
    position: relative;
    min-height: 750px;
    border-top: 1px solid ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/real1.JPG');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}

.mainDiv {
    max-width: 1000px;
    width: 95%;
}

.text {
    font-size: 20px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 20;
}

@media (max-width: 710px) {
    .heroContainer h1 {
        font-size: 70px;
    }

    .text {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .heroContainer h1 {
        font-size: 60px;
    }

    .text {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .heroContainer h1 {
        font-size: 55px;
    }
}

@media (max-width: 345px) {
    .heroContainer h1 {
        font-size: 45px;
    }
}

@media (max-width: 291px) {
    .link {
        font-size: 14px;
    }
}
