.heroContainer {
    width: 100%;
    margin-top: 73px;
    position: relative;
    min-height: 750px;
    border-top: 1px solid ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/assets/real1.JPG');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}

.mainDiv {
    width: 1000px;
}

.text {
    font-size: 20px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 20;
}