.heroContainer {
    width: 100%;
    margin-top: 73px;
    padding: 160px 50px;
    position: relative;
    background: linear-gradient(180deg, #ddbc89, white, white, #fdffcd);
    transition: background 3s ease-in-out; /* Smooth transition for the gradient */
    border-bottom: 1px solid #d3d6db;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3); /* Light brown (tan) with 70% opacity */
}


@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideIn {
    animation: slideInLeft 1s ease-out;
}

.main {
    width: 100%;
    max-width: 850px;
    position: relative;
    z-index: 25;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}


.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

.main h1 {
    font-size: 70px;
    color: #622D25;
    font-weight: 700;
    line-height: normal;
    text-shadow: 2px 2px 10px white;
}

.main p {
    font-size: 17px;
    max-width: 680px;
    width: 100%;
}

.motto {
    max-width: 680px;
    width: 100%;
}

.link {
    background-color: #402a23;
    font-family: var(--font-finlandacia);
    padding: 6px 50px;
    color: white;
    border-radius: 3px;
    box-shadow: 3px 3px 0px 0px white;
    transition: background-color 0.3s;
    font-weight: 700;
}

.link:hover {
    box-shadow: 3px 3px 0px 0px #ffe76a;
}

.link:active {
    box-shadow: none;
}

@media (max-width: 678px) {
    .main h1 {
        font-size: 65px;
    }
}

@media (max-width: 635px) {
    .main h1 {
        font-size: 60px;
    }
}

@media (max-width: 595px) {
    .main h1 {
        font-size: 55px;
    }
}

@media (max-width: 553px) {
    .main h1 {
        font-size: 50px;
    }

    .main p {
        font-size: 16px;
    }

    .heroContainer {
        padding: 150px 50px;
    }
}

@media (max-width: 511px) {
    .main h1 {
        font-size: 45px;
    }

    .main p {
        font-size: 15.5px;
    }

    .heroContainer {
        padding: 140px 50px;
    }
}

@media (max-width: 471px) {
    .main p {
        font-size: 15px;
    }

    .heroContainer {
        padding: 130px 40px;
    }
}

@media (max-width: 451px) {

    .heroContainer {
        padding: 120px 40px;
    }

    .main h1 {
        font-size: 40px;
    }

    .link {
        padding: 5px 40px;
        font-size: 14px;
    }

    .main p {
        font-size: 14px;
    }
}

@media (max-width: 411px) {
    .heroContainer {
        padding: 120px 30px;
    }
}

@media (max-width: 393px) {
    .heroContainer {
        padding: 140px 20px;
    }
}

@media (max-width: 369px) {
    .heroContainer {
        padding: 120px 10px;
    }
}

@media (max-width: 351px) {
    .heroContainer {
        padding: 120px 10px;
    }

    .main h1 {
        font-size: 35px;
    }
}

@media (max-width: 380px) {
    .main h1 {
        text-align: center;
    }

    .link {
        margin: auto;
    }

    .motto p {
        line-height: 13px;
    }
}